@import 'bootsrap-overrides';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';
@import 'transitions-and-animations.scss';

body, html {
  height: 100%;
  width: 100%;
  background-color: black;
}

.carousel-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  filter: blur(10px);
}
.carousel-bg > .carousel-inner > .carousel-item > img {
  height: 100vh;
}